.App {
width: 100vw;
height: 60vw;
background-color: rgb(255, 217, 0);
}

img{
  max-width: 75vw;
  max-height: 75vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 50%;
}

h1{
  background-color: green;
  font-size: 50px;
  color: white
}

.car-form{
/* justify-content: space-between; */
padding-left: 15px;
letter-spacing: 20px;
border: 1;
display: flex;
flex-flow: row;
margin-left: 15px;
border-radius: 6px;
}
